@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --color-blue-600: #2563eb;
  --color-emerald-500: #10b981;
  --color-amber-500: #f59e0b;
  --color-red-500: #ef4444;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased font-sans m-0;
  }
}

